html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #FFF;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.wrapper {
  transition: background .5s ease;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

#not-found-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

p {
  font-family: "SourceSansPro-Light", sans-serif;
  font-size: 20px;
}
