.button {
    display: inline-block;
    appearance: none;
    border: solid 1px black;
    color: black;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0 14px;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    &:focus,
    &:visited,
    &:active {
        color: black;
        text-decoration: none;
    }
    &:hover {
        color: white;
        background: black;
        text-decoration: none;
    }
    transition: background .3s ease, color .3s ease;
}
