#about-section {
  color: #DEDEDE;

  .btn-container {
    text-align: center;
  }
  .btn-about-us {
    font-size: 0.9rem;
    color: #DEDEDE;
    border-color: #DEDEDE;
    &:hover {
      color: #1E1E1E;
      background: #DEDEDE;
    }
  }
}
